

* {
    box-sizing: border-box;
}

.nav {
    margin-bottom: 200px;
}

.phone-number {
    width: 50vh;
    margin: 0 auto;
    border: 2px solid blue;
    padding: 55px;

}


small + small  {
    display: none;
}
input:valid + small{
    display: none;
}
input:valid + small + small {
    display: block;
}

.butt {
    text-align: center;
}
