

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
}



.nav li a {
    color: green;
}

.nav li a:active{
    color: green;
}

.nav li a:hover {
    color: green;
}

.phone-number {
    width: 50vh;
    margin: 0 auto;
    border: 1px solid rgb(139 139 139);
    padding: 55px;

}

input:valid + small{
    display: none;
}

input:valid + small + small {
    display: block;
}

small + small  {
    display: none;
}


.butt {
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}
